@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 7px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.container .chat-list {
  background-color: #202020;
  height: 100%;
  width: 300px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.container .chat-list__information {
  display: flex;
  align-items: center;
  margin: 0 20px;
  height: 50px;
}
.container .chat-list__information img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.container .chat-list__information span {
  color: #fff;
}
.container .chat-list__search {
  background-color: #2b2c32;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 7px;
  height: 30px;
  flex-grow: 1;
}
.container .chat-list__search i {
  margin-right: 10px;
  font-size: 8px;
}
.container .chat-list__search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
}
.container .chat-list__accounts {
  display: none;
}
.container .chat-list__accounts > p {
  text-align: center;
  color: #333;
}
.container .chat-list__items, .container .chat-list__accounts {
  margin-top: 20px;
  flex-grow: 1;
  overflow-y: scroll;
}
.container .chat-list__items .item, .container .chat-list__accounts .item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.container .chat-list__items .item:hover, .container .chat-list__accounts .item:hover {
  background-color: #111;
}
.container .chat-list__items .item img, .container .chat-list__accounts .item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.container .chat-list__items .item__detail, .container .chat-list__accounts .item__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .chat-list__items .item__detail h4, .container .chat-list__accounts .item__detail h4 {
  color: #b2b2b2;
  margin-bottom: 4px;
}
.container .chat-list__items .item__detail span, .container .chat-list__accounts .item__detail span {
  display: block;
  font-size: 12px;
  color: #696969;
}
.container .chat-list__control-center {
  display: flex;
  align-items: center;
  margin: 0 20px;
  margin-top: 20px;
}
.container .chat-list__control-center i {
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
.container .chat-detail {
  background-color: #000000;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.container .chat-detail__header {
  border-bottom: 1px solid rgba(120, 119, 119, 0.3);
  padding: 10px 30px;
  display: flex;
  align-items: center;
}
.container .chat-detail__header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.container .chat-detail__header .header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .chat-detail__header .header__info > span {
  color: #fff;
  margin-bottom: 4px;
}
.container .chat-detail__header .header__info .status {
  display: flex;
  align-items: center;
}
.container .chat-detail__header .header__info .status .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4ad262;
  margin-right: 5px;
}
.container .chat-detail__header .header__info .status span {
  color: #67696a;
}
.container .chat-detail__messages {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 30px 0;
}
.container .chat-detail__messages .message__detail {
  width: 35%;
  background-color: #1d2223;
  margin: 5px 0;
  padding: 20px;
  color: #a6aaac;
  display: flex;
  align-items: center;
}
.container .chat-detail__messages .message__detail__avatar {
  margin-right: 20px;
}
.container .chat-detail__messages .message__detail__avatar img {
  width: 30px;
}
.container .chat-detail__messages .message__detail__text .info {
  margin-bottom: 5px;
  font-size: 12px;
}
.container .chat-detail__messages .message.me {
  display: flex;
  justify-content: end;
}
.container .chat-detail__messages .message.me .message__detail {
  flex-direction: row-reverse;
}
.container .chat-detail__messages .message.me .message__detail__avatar {
  margin-left: 20px;
  margin-right: 0;
}
.container .chat-detail__input {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.container .chat-detail__input input {
  background-color: #2b2c32;
  border: none;
  outline: none;
  font-size: 15px;
  color: #fff;
  padding: 10px 20px;
  width: 70%;
  border-radius: 40px;
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.pop-up__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=index.css.map */