@import "./setup.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;

  .chat-list {
    background-color: #202020;
    height: 100%;
    width: 300px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    &__information {
      display: flex;
      align-items: center;
      margin: 0 20px;
      height: 50px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      span {
        color: #fff;
      }
    }

    &__search {
      background-color: #2b2c32;
      padding: 6px 10px;
      display: flex;
      align-items: center;
      color: #fff;
      border-radius: 7px;
      height: 30px;
      flex-grow: 1;

      i {
        margin-right: 10px;
        font-size: 8px;
      }

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: 12px;
      }
    }

    &__items {
      margin-top: 20px;
      flex-grow: 1;
      overflow-y: scroll;

      .item {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: #111;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }

        &__detail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h4 {
            color: #b2b2b2;
            margin-bottom: 4px;
          }

          span {
            display: block;
            font-size: 12px;
            color: #696969;
          }
        }
      }
    }

    &__control-center {
      display: flex;
      align-items: center;
      margin: 0 20px;
      margin-top: 20px;

      i {
        color: #fff;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .chat-detail {
    background-color: #000000;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &__header {
      border-bottom: 1px solid rgba(120, 119, 119, 0.3);
      padding: 10px 30px;
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .header__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > span {
          color: #fff;
          margin-bottom: 4px;
        }

        .status {
          display: flex;
          align-items: center;
          .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #4ad262;
            margin-right: 5px;
          }
          span {
            color: #67696a;
          }
        }
      }
    }

    &__messages {
      flex-grow: 1;
      overflow-y: scroll;
      padding: 30px 0;

      .message {
        &__detail {
          width: 35%;
          background-color: #1d2223;
          margin: 5px 0;
          padding: 20px;
          color: #a6aaac;
          display: flex;
          align-items: center;

          &__avatar {
            img {
              width: 30px;
            }
            margin-right: 20px;
          }

          &__text {
            .info {
              margin-bottom: 5px;
              font-size: 12px;
            }
          }
        }
        &.me {
          display: flex;
          justify-content: end;

          .message__detail {
            flex-direction: row-reverse;
            &__avatar {
              margin-left: 20px;
              margin-right: 0;
            }
          }
        }
      }
    }

    &__input {
      display: flex;
      justify-content: center;
      padding: 15px 0;
      input {
        background-color: #2b2c32;
        border: none;
        outline: none;
        font-size: 15px;
        color: #fff;
        padding: 10px 20px;
        width: 70%;
        border-radius: 40px;
      }
    }
  }
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__form {
  }
}
